* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

html {
  --border: 5px solid darkslategrey;
}

.max-width-wrapper {
  margin: auto;
  max-width: 70ch;
  padding: 0px 32px;

}

@media (max-width: 801px) {
  .max-width-wrapper {
    padding: 0px;
  }
}

strong {
  color: green;
}

header {
  padding: 64px 0px;
}

@media (max-width: 481px) {
  header {
    padding: 0px;
  }
}

.intro-chunk {
  max-width: 350px;
  padding: 24px;
}

main {
  background-color: grey;
  border-top: var(--border);
  padding: 64px 0px;
}

.card {
  background-color: white;
  border-bottom: var(--border);
  padding: 24px;
}

.indented-heading {
  background-color: gold;
  border-bottom: 5px solid goldenrod;
  padding: 16px 24px;
  margin-left: -32px;
  margin-top: -16px;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 801px) {
  .indented-heading {
    margin-left: -24px;
  }
}
